<img src="images/econ140R_logo.png" width="200" />

In [2]:
install.packages("wooldridge")

Installing package into ‘/opt/r’
(as ‘lib’ is unspecified)

In [8]:
library("wooldridge")
library(dplyr)
library(tidyverse)
library(haven)
library(foreign)
library(car)

Loading required package: carData


Attaching package: ‘car’


The following object is masked from ‘package:purrr’:

    some


The following object is masked from ‘package:dplyr’:

    recode

In [4]:
data("alcohol")

In [5]:
head(alcohol)

  abuse status unemrate age educ married famsize white exhealth vghealth ⋯
1 1     1      4.0      50   4   1       1       1     0        0        ⋯
2 0     3      4.0      37  12   1       5       1     0        0        ⋯
3 0     3      4.0      53   9   1       3       1     1        0        ⋯
4 0     3      3.3      59  11   1       1       1     1        0        ⋯
5 0     3      3.3      43  10   1       1       1     1        0        ⋯
6 0     3      3.3      38  10   1       1       1     1        0        ⋯
  mothalc fathalc livealc inwf employ agesq beertaxsq cigtaxsq ethanolsq educsq
1 0       0       0       0    0      2500  0.111556  1444     4.159397   16
2 0       0       0       1    1      1369  0.111556  1444     4.159397  144
3 0       0       0       1    1      2809  0.111556  1444     4.159397   81
4 0       0       0       1    1      3481  0.057600   676     6.002402  121
5 0       1       1       1    1      1849  0.057600   676     6.002402  100
6 0       0       0       1    1      1444  0.057600   676     6.002402  100

In [6]:
alcohol <- mutate(alcohol, employed = ifelse(status == 3, 1, 0))
alcohol <- mutate(alcohol, unemployed = ifelse(status == 2, 1, 0))
alcohol <- mutate(alcohol, outofworkforce = ifelse(status == 1, 1, 0))

In [10]:
reg1 <- lm(abuse ~ unemployed + outofworkforce + age, 
          data = alcohol)
summary(reg1)

Call:
lm(formula = abuse ~ unemployed + outofworkforce + age, data = alcohol)

Residuals:
     Min       1Q   Median       3Q      Max
-0.13378 -0.09809 -0.09600 -0.09448  0.90628

Coefficients:
                Estimate Std. Error t value Pr(>|t|)
(Intercept)    0.0889669  0.0126762   7.018 2.39e-12 ***
unemployed     0.0336007  0.0171117   1.964   0.0496 *
outofworkforce 0.0240426  0.0119655   2.009   0.0445 *
age            0.0001900  0.0003158   0.602   0.5474
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.2988 on 9818 degrees of freedom
Multiple R-squared:  0.0008369,	Adjusted R-squared:  0.0005316
F-statistic: 2.741 on 3 and 9818 DF,  p-value: 0.04168

In [12]:
linearHypothesis(reg1, "unemployed = outofworkforce")

  Res.Df RSS      Df Sum of Sq  F         Pr(>F)
1 9819   876.6985 NA         NA        NA        NA
2 9818   876.6789  1 0.01957145 0.2191823 0.6396741