<img src="images/econ140R_logo.png" width="200" />

In [1]:
install.packages("wooldridge")

Installing package into ‘/opt/r’
(as ‘lib’ is unspecified)

In [2]:
library("wooldridge")
library(dplyr)
library(tidyverse)
library(haven)
library(foreign)

Attaching package: ‘dplyr’


The following objects are masked from ‘package:stats’:

    filter, lag


The following objects are masked from ‘package:base’:

    intersect, setdiff, setequal, union


── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.4.0     ✔ purrr   0.3.5
✔ tibble  3.1.8     ✔ stringr 1.4.1
✔ tidyr   1.2.1     ✔ forcats 0.5.2
✔ readr   2.1.3

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [3]:
data("happiness")

In [4]:
head(happiness)

  year workstat         prestige divorce widowed educ reg16           babies
1 1994 keeping house    46       NA      iap     12   middle atlantic 2
2 1994 working fulltime 22       no      iap     12   foreign         0
3 1994 working fulltime 29       no      iap     12   foreign         0
4 1994 working fulltime 42       yes     iap      8   foreign         0
5 1994 working parttime 36       NA      NA      13   middle atlantic 0
6 1994 working parttime 43       NA      NA      15   middle atlantic 0
  preteen teens ⋯ occattend regattend y94 y96 y98 y00 y02 y04 y06 unem10
1 3       0     ⋯ 1         0         1   0   0   0   0   0   0    1
2 0       0     ⋯ 0         0         1   0   0   0   0   0   0    0
3 0       0     ⋯ 0         1         1   0   0   0   0   0   0   NA
4 0       0     ⋯ 0         0         1   0   0   0   0   0   0    1
5 1       1     ⋯ 0         0         1   0   0   0   0   0   0    0
6 0       0     ⋯ 1         0         1   0   0   0   0   0   0   NA

In [5]:
happiness <- mutate(happiness, veryhappy = as.numeric(happy == "very happy"))

In [6]:
happiness <- happiness %>%
mutate(happynum = case_when(
    happy == "very happy" ~ 1,
    happy == "pretty happy" ~ 2,
    happy == "not too happy" ~ 3,
    ))
unique(happiness$happynum)

[1] 2 1 3

In [12]:
happiness <- happiness %>%
mutate(munyppah = case_when(
    happy == "very happy" ~ 3,
    happy == "pretty happy" ~ 2,
    happy == "not too happy" ~ 1,
    ))
unique(happiness$munyppah)

[1] 2 3 1

In [13]:
unique(happiness$income)

 [1] $10000 - 14999 <NA>           $15000 - 19999 $25000 or more $20000 - 24999
 [6] $5000 to 5999  $3000 to 3999  $8000 to 9999  $6000 to 6999  $1000 to 2999
[11] $4000 to 4999  $7000 to 7999  lt $1000
16 Levels: iap lt $1000 $1000 to 2999 $3000 to 3999 ... na

In [14]:
happiness <- happiness %>%
mutate(dollarincome = case_when(
    income == "lt $1000" ~ 500,
    income == "$1000 to 2999" ~ 1500,
    income == "$3000 to 3999" ~ 3500,
    income == "$4000 to 4999" ~ 4500,
    income == "$5000 to 5999" ~ 5500,
    income == "$6000 to 6999" ~ 6500,
    income == "$7000 to 7999" ~ 7500,
    income == "$8000 to 9999" ~ 9000,
    income == "$10000 - 14999" ~ 12500,
    income == "$15000 - 19999" ~ 17500,
    income == "$20000 - 24999" ~ 22500,
    income == "$25000 or more" ~ 30000
    ))
unique(happiness$dollarincome)

 [1] 12500    NA 17500 30000 22500  5500  3500  9000  6500  1500  4500  7500
[13]   500

In [10]:
happiness <- mutate(happiness, thdincome = dollarincome/1000)

In [16]:
reg1 <- lm(happynum ~ thdincome, 
           data = happiness)
summary(reg1)

Call:
lm(formula = happynum ~ thdincome, data = happiness)

Residuals:
    Min      1Q  Median      3Q     Max
-1.1416 -0.7380  0.1593  0.2620  1.2619

Coefficients:
              Estimate Std. Error t value Pr(>|t|)
(Intercept)  2.1484635  0.0146784  146.37   <2e-16 ***
thdincome   -0.0136805  0.0005694  -24.02   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.6128 on 15043 degrees of freedom
  (2092 observations deleted due to missingness)
Multiple R-squared:  0.03695,	Adjusted R-squared:  0.03689
F-statistic: 577.2 on 1 and 15043 DF,  p-value: < 2.2e-16

In [17]:
reg1 <- lm(munyppah ~ thdincome, 
           data = happiness)
summary(reg1)

Call:
lm(formula = munyppah ~ thdincome, data = happiness)

Residuals:
    Min      1Q  Median      3Q     Max
-1.2619 -0.2620 -0.1593  0.7380  1.1416

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 1.8515365  0.0146784  126.14   <2e-16 ***
thdincome   0.0136805  0.0005694   24.02   <2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 0.6128 on 15043 degrees of freedom
  (2092 observations deleted due to missingness)
Multiple R-squared:  0.03695,	Adjusted R-squared:  0.03689
F-statistic: 577.2 on 1 and 15043 DF,  p-value: < 2.2e-16

<div style="text-align: right"> <span style="font-family:Papyrus; ">And they lived happily ever after. The End.</span></div>