In [1]:
# load the AER package
library(AER)

# load the data set
data(CASchools)   
head(CASchools)

Loading required package: car

Loading required package: carData

Loading required package: lmtest

Loading required package: zoo


Attaching package: ‘zoo’


The following objects are masked from ‘package:base’:

    as.Date, as.Date.numeric


Loading required package: sandwich

Loading required package: survival

  district school                          county  grades students teachers
1 75119    Sunol Glen Unified              Alameda KK-08   195     10.90
2 61499    Manzanita Elementary            Butte   KK-08   240     11.15
3 61549    Thermalito Union Elementary     Butte   KK-08  1550     82.90
4 61457    Golden Feather Union Elementary Butte   KK-08   243     14.00
5 61523    Palermo Union Elementary        Butte   KK-08  1335     71.50
6 62042    Burrel Union Elementary         Fresno  KK-08   137      6.40
  calworks lunch   computer expenditure income    english   read  math
1  0.5102   2.0408  67      6384.911    22.690001  0.000000 691.6 690.0
2 15.4167  47.9167 101      5099.381     9.824000  4.583333 660.5 661.9
3 55.0323  76.3226 169      5501.955     8.978000 30.000002 636.3 650.9
4 36.4754  77.0492  85      7101.831     8.978000  0.000000 651.9 643.5
5 33.1086  78.4270 171      5235.988     9.080333 13.857677 641.8 639.9
6 12.3188  86.9565  25      5580.147    10.415000 12.408759 605.7 605.4

In [2]:
# define variables
CASchools$STR <- CASchools$students/CASchools$teachers       
CASchools$score <- (CASchools$read + CASchools$math)/2

In [3]:
# estimate both regression models
model_short <- lm(score ~ STR, data = CASchools) 
summary(model_short)

Call:
lm(formula = score ~ STR, data = CASchools)

Residuals:
    Min      1Q  Median      3Q     Max
-47.727 -14.251   0.483  12.822  48.540

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) 698.9329     9.4675  73.825  < 2e-16 ***
STR          -2.2798     0.4798  -4.751 2.78e-06 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 18.58 on 418 degrees of freedom
Multiple R-squared:  0.05124,	Adjusted R-squared:  0.04897
F-statistic: 22.58 on 1 and 418 DF,  p-value: 2.783e-06

In [4]:
model_long <- lm(score ~ STR + english, data = CASchools)
summary(model_long)

Call:
lm(formula = score ~ STR + english, data = CASchools)

Residuals:
    Min      1Q  Median      3Q     Max
-48.845 -10.240  -0.308   9.815  43.461

Coefficients:
             Estimate Std. Error t value Pr(>|t|)
(Intercept) 686.03224    7.41131  92.566  < 2e-16 ***
STR          -1.10130    0.38028  -2.896  0.00398 **
english      -0.64978    0.03934 -16.516  < 2e-16 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 14.46 on 417 degrees of freedom
Multiple R-squared:  0.4264,	Adjusted R-squared:  0.4237
F-statistic:   155 on 2 and 417 DF,  p-value: < 2.2e-16

In [5]:
model_aux <- lm(english ~ STR, data = CASchools) 
summary(model_aux)

Call:
lm(formula = english ~ STR, data = CASchools)

Residuals:
    Min      1Q  Median      3Q     Max
-20.823 -13.006  -6.849   7.834  74.601

Coefficients:
            Estimate Std. Error t value Pr(>|t|)
(Intercept) -19.8541     9.1626  -2.167  0.03081 *
STR           1.8137     0.4644   3.906  0.00011 ***
---
Signif. codes:  0 ‘***’ 0.001 ‘**’ 0.01 ‘*’ 0.05 ‘.’ 0.1 ‘ ’ 1

Residual standard error: 17.98 on 418 degrees of freedom
Multiple R-squared:  0.03521,	Adjusted R-squared:  0.0329
F-statistic: 15.25 on 1 and 418 DF,  p-value: 0.0001095

In [ ]:
# compute correlations
cor(CASchools$STR, CASchools$score)
#> [1] -0.2263627
cor(CASchools$STR, CASchools$english)
#> [1] 0.1876424